body {
    margin: 0;
    background-color: #ffffff;
}

#solicita {
    margin-left:6%;
    height:80%;
    width:100%;
}


#h1 {
    color: #FFA53D;
    font-size: 40px;
    margin-left: 5rem;
    margin-top: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Buttones{
    width:30%;
    height:100%;
    gap:9rem;
    margin-right:8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainssx{
    width:100%;
    height:94vh;
    margin-top:2%;
    display: flex;
    justify-content:space-between;
    
}
#bt1 {
  
    width:250px;
    height:175%;
    font-size:1.2rem;
    border: none;
    color:white;
    font-weight: bold;
    background-color: #FFA53D;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #FFA53D;
}
#bt1:hover{
    box-shadow: inset 0 -100px 0 0 #162E98;
}


#bt3 {
    width:250px;
    height:175%;
    font-size:1.2rem;
    border: none;
    color:white;
    font-weight: bold;
    background-color: #FFA53D;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #FFA53D;
}

#bt3:hover{
    box-shadow: inset 0 -100px 0 0 #162E98;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
    #solicita {
        margin-top: auto;
        margin-left: auto;
        width: 100%;
        height: 50%;
    }

    #h1 {
        font-size: 30px;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    #bt1,
    #bt2 {
        margin-top: auto;
        width: 100%;
        margin-left: auto;
    }
}