body{
  margin: 0;
  background-color: #1934B3;
}

#div{
  margin-left: 40%;
  margin-top: 5%;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#texte{
  margin-left: 40%;
  margin-top: 3%;
  position: absolute;
  color:#FFA53D;
  font-family: Poppins;
  font-size: 25px;
}

#text{
  margin-left: 2%;
  margin-top: 2%;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#text1{
  position: absolute;
  color: #FFA53D;
  left: 10%;
  top: 25%;
  font-family: Poppins;
  font-size: 50px;
}

#text2{
  text-align: justify;
  width: 60%;
  position: absolute;
  left:10% ;
  top: 33%;
  color: white;
  font-size: 29px;
  font-family:Poppins;
}

#text3{
  position: absolute;
  left:30% ;
  top: 28%;
  width: 650px;
  color: white;
  font-size: 29px;
  font-family: Poppins;
}

#text4{
  position: absolute;
  left:30% ;
  top: 27%;
  margin-right: 6%;
  color: white;
  font-size: 30px;
  font-family:Poppins;
}

#carrega {
  margin-left: 3%;
  color:white;
}

#carrega1 {
  text-align: center;
  color: white;
  margin-top: 2%;
}