body {
    margin: 0;
    background-color: #ffffff;
}

h2 {
    color: #1934B3;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 2rem;
}

.card {
    /*color:#1934B3;*/
    margin: 0 20px; /* Espaço horizontal*/
  } 



  @media (max-width: 768px) {
    .card {
      margin: 0 auto;
    }
}