body {
    margin: 0;
    background-color: #ffffff;
}

h3 {
    color: #FFA53D;
    font-size: 35px;
    margin-left: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/*     font-family: cursive; */
}

.card {
    /*color:#1934B3;*/
    margin: 0 20px; /* Espaço horizontal*/
    font-size: medium;
  } 

  .card-title {
    font-weight: bold;
    font-size: larger;
  }



  @media (max-width: 768px) {
    .card {
      margin: 0 auto;
    }
}