body {
    margin: 0;
    background-color: #ffffff;
}

h3 {
    color: #1934B3;
    font-size: 40px;
    margin-left: 2rem;
}

.card {
    /*color:#1934B3;*/
    margin: 0 20px; /* Espaço horizontal*/
    font-size: medium;
  } 

  .card-title {
    font-weight: bold;
    font-size: larger;
  }



  @media (max-width: 768px) {
    .card {
      margin: 0 auto;
    }
}