form {
    text-align: center;
    margin-top: 20px;
    
}
.title{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

h2 {
    margin-top: 1rem;
    color: #FFA53D;
    font-size: 35px;
    margin-left: 2rem;
    font-weight: bold;
}

input {
    width: 50%;
    border: 2px solid  #FFA53D;
    border-radius: 15px;
    margin-left:1.5%;
    height: 40px;
    padding: 10px;
    background-color:WHITE;
    color:black;
}

button {
    position: relative;
    background-color:white;
    border: none;
    top: auto;
    left: auto;
    border-radius: 30%;
}

img {
    width: 40px;
    height: 40px;

}
#boxs{
    width:100%;
    margin-top:2%;
    gap:4rem;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:left;

}

#cards{
max-width: 65%;
height:15vh;
margin-left:19%;
/* border:0.5px solid black; */
display: flex;
justify-content:space-between;
  padding: 1rem;
  background-color: #fff;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#column1{
    width:75%;
    color: black;
    height:100%;
}
#column2{
    width:25%;
    display:  flex;
    justify-content:center;
    gap:2rem;
    align-items: center;
    height:100%;
}
.tables{
    width: 100%;
    height:100%;
    white-space: nowrap;

}
.info{
    display: flex;
    margin-top:10%;
}

.button{
    font-size: 0.75rem;
    margin-top:6%;
    width:40%;
    height:5vh;
    background-color:   #162E98;
    font-weight: 500;
    border-radius: 0.5rem;
    color:white;
    border: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }


tr{
    width:100%;
    text-align: center;
    height:100%;

   
}
th{
    font-size:1.0rem;
    color: #FFA53D;
    font-weight: bold;
}

/* Media Query para telas menores (até 768px de largura) */
@media (max-width: 768px) {
    form {
        margin-top: 10px;
    }

    h2 {
        font-size: 28px;
    }

    input {
        width: 80%;
    }

    button {
        left: 50%;
    }

    img {
        width: 30px;
        height: 30px;
    }
}