form {
    text-align: center;
    margin-top: 20px;
    color: #162E98;
}

input {
    width: 50%;
    border: 1px solid #162E98;
    border-radius: 15px;
    height: 50px;
    padding: 10px;
    background-color: #C5C5C7;
    color: #162E98;
    margin-left: 5rem;
}

label {
    color: #FFA53D;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2rem;
}

#h2 {
    margin-top: 2rem;
    color: #FFA53D;
    font-size: 35px;
    margin-left: 2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    form {
        margin-top: 10px;
    }

    #h2 {
        font-size: 28px;
    }

    input {
        width: 50%;
    }
}