/* navbar-hover.css */
#falaCidadao {
  font-weight: bold;
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

#divNav {
  margin-left: 5rem;
  font-size: large;
}
#divbar:hover {
  cursor: pointer;
} 

/* navbar-hover.css */
.navbar-hover:hover {
  color: black;
  background-color:#FFA53D; 
}