body {
    margin: 0;
    background-color: #ffffff;
}

h1 {
    color: #FFA53D;
    font-size: 40px;
    margin-left: 5rem;
    margin-top: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    color: #162E98;
    font-size: 20px;
    margin-left: 2rem;
    font-weight: bolder;
}

form {
    font-weight: bold;
    margin: 5rem;
    margin-top: auto;
    color: #162E98;
}

button {
    margin: 5rem;
    margin-top: -4rem;
}
