body {
    margin: 0;
    background-color: #ffffff;
}

#h1 {
    color: #FFA53D;
    font-size: 40px;
    margin-left: 5rem;
    margin-top: 2rem;
    font-weight: bold;
}

#accordion {
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 30rem;
}

#botao {
    height: 5rem;
}
