body {
    margin: 0;
    background-color: #ffffff;
}

#h1 {
    color: #FFA53D;
    font-size: 40px;
    margin-left: 5rem;
    margin-top: 2rem;
    font-weight: bold;
}

#table {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 65rem;
    border: solid 1px;
    text-align: center;
    
}

#botao {
    margin-left: 5rem;
    background-color: #FFA53D;
    color:#11226E;
    font-weight: bold;
}


@media (max-width: 768px) {
    #h1 {
        font-size: 30px; 
        margin-left: 2rem; 
    }

    #table {
        width: 100%;
    }

    #botao {
        margin-left: 2rem; 
        margin-top: 1rem;
    }
}