body {
    background-image: url("../img/indaia.jpg");
}

#texto {
    margin-left: 40%;
    margin-top: 3%;
    position: absolute;
    color: #1934B3;
    font-size: 25px;
}

#div {
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
    background-color: #ffffff;
    z-index: -1;
    margin-left: 40%;
    margin-top: 5%;
    position: absolute;
    color: #162E98;
    font-size: 15px;
    font-weight: bold;
<<<<<<< HEAD
=======
}



@media screen and (max-width: 768px) {
    #texto {
        margin-left: 10%;
        margin-top: 1%;
        font-size: 18px;
    }
    
    #senha {
      margin-left: 4rem;
    }

    #div {
        margin-left: 10%;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    #texto {
        margin-left: 5%;
        margin-top: 1%;
        font-size: 16px;
    }

    #div {
        margin-left: 5%;
        font-size: 12px;
    }
>>>>>>> d8d80b882a09652bf5b1e6ed946e242faeae055b
}