body {
  margin: 0;
  background-color: #ffffff;
}

.mains {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box {
  margin-top:3%;
  width: 100%;
  height:90vh;
  display: flex;
  justify-content:space-around;
  gap:3rem;
  align-items:left;
  flex-wrap:wrap;
}
.cards {
 width:23vw;
  height:60%;
  background: white;
  border-radius:10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.2s ease-in-out;
}
.images{
  border-radius:10px;
  width:23vw;
  height:33vh;
}
.texts{
  color: #ffa53d;
  font-weight:bold;
  font-size:1.3rem;
}
.buttonSolici{
  margin-left:60%;
  margin-top:1%;
  width:35%;
  font-weight:bold;
  height:20%;
  background-color:#ffa53d;
  color: black;
  border-radius:10px;
  border:none;
  cursor:pointer;
}
.boxss{
    width:100%;
}
.quads{
  margin-top:20%;
  width:100%;
  padding-left:5%;
}
.img{
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 
}
.title {
  margin-top: 2rem;
  margin-left: 5%;
  color: #ffa53d;
  font-size: 35px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#h3 {
  margin-top: 1rem;
  color: #ffa53d;
  font-size: 35px;
  margin-left: 2rem;
  font-weight: bold;
}

#bt1 {
  width: 15rem;
  font-size: medium;
  color: #11226e;
  font-weight: bold;
  background-color: #ffa53d;
}

@media (max-width: 768px) {
  .card {
    margin: 0 auto;
  }
}
