body {
    margin: 0;
    background-color: #ffffff;
}

h3 {
    margin-top: 1rem;
    color:#FFA53D;
    font-size: 35px;
    margin-left: 2rem;
    font-weight: bold;
}

.card {
    margin: 0 20px; /* Espaço horizontal*/
  } 

 #bt1 {
    width: 15rem;
    font-size: medium;
    color: #11226E;
    font-weight: bold;
    background-color: #FFA53D;
}



  @media (max-width: 768px) {
    .card {
      margin: 0 auto;
    }
}